    <link href="offcanvas.css" rel="stylesheet">

    <div><p>&nbsp;</p><p>&nbsp;</p></div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <% if @ginfo.first == nil %>
    <div> &nbsp; &nbsp;&nbsp; <b>Error! No such group!</b></div>
    <% else %>
    <div class="container theme-showcase">
      <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
          <p align="right">
            <a type="button" class="btn btn-danger btn-lg" href = "<%= "/group/add_member/"+ @gid.to_s%>" >+ Add Group </a>  &nbsp;
            <a type="button" class="btn btn-danger btn-lg" href = "<%= "/group/quit_group/"+ @gid.to_s%>" >+ Quit Group </a>
          </p>
          <p>&nbsp;</p>
          <h1><%= @ginfo.first["name"] %></h1>
          </p><p>&nbsp;</p>
          <p><b>Group Tags:      </b>
            <% t = 0 %>
            <% while t < 3 %>
              <span class="label label-primary">
                <%= 'tag'+ @ginfo.first["categroy"] +  '-' + t.to_s %>
              </span> &nbsp;
              <% t = t + 1 %>
            <% end %></p>
          <p><b>When You Joined: </b>
            <% if @ginfo.first["time"] != nil %>
              <%= @ginfo.first["time"] %>
            <% else %>
              <%= "2013-11-11 11:11:11" %>
            <% end %>
          </p><p>&nbsp;</p>
          <div class="row">
            <div class="col-md-2">
              <p>
                <% if (@ginfo.first["image"] != nil) %>
                  <%= image_tag(@ginfo.first["image"].to_s) %>
                <% else %>
                  <% url = (@gid % 10).to_s %>
                  <%= image_tag("groups/"+ url +".jpg") %>
                <% end %>
              </p>
            </div>
            <div class="col-md-10">
              <p><b>Description:   </b>
                <% if @ginfo.first["description"] != nil %>
                  <%= @ginfo.first["description"] %>
                <% else %>
                  <%= "This course explores advanced topics in highly scalable Internet services and the underlying systems architecture. Large scale web sites and software delivered as a service are pervasive, and are running on millions of servers. Web 2.0 has redefined the web user experience and new infrastructure technologies have redefined what it takes to launch a state-of-the-art web site. Amazon's web services, such as Simple Storage Service (S3) and Elastic Compute Cloud (EC2), and Google's Compute Engine are changing the game for hosting scalable fault-tolerant sites. New programming frameworks, such as Ruby on Rails, are making the development of interesting sites easier. Yet some concerns just don't go away: caching, load balancing, fail-over, redundancy, back-end databases, security, and monitoring to name a few." %>
                <% end %>
              </p>
            </div>     
          </div>
        </div>
    </div>

    <!-- ===================================================== -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><b>Group Members</b></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" name="uname" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Search</button>
            </form>
          </div><!-- /.navbar-collapse -->
      </nav>

      <!-- Members Navi -->
      <div>
        <%= render 'group/get_members' %>
      </div>
    </div><!-- /.container -->
      <!-- /END THE FEATURETTES -->

    <div class="container marketing">
      <div>
        <nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><b>Recent Events</b></a>
        </div>


          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Link</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div><!-- /.navbar-collapse -->
      </nav>
    </div>
    <% end %>
      <!-- FOOTER -->
      <footer>
        <p>&copy; FaceCalendar 2013</p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="bootstrap.js"></script>
    <script src="offcanvas.js"></script>