<h1>Show My Own Group</h1>
<div id='shown-ones-own-group-table'>
<% if (@my_own_groups!=nil) %>

	<% if (@my_own_groups.count<1) %>
		<p>No Groups Found!</p>
	<% else %>
		<table border='1' class='table'>
		<tr>
			<th>group name</th>
			<% @my_own_groups.first.each do |key,value| %>
				<th>
					<%= key.to_s %>
				</th>
			<% end %>	
		</tr>

		<% indx = 0 %>
		<% @my_own_groups.each do |row| %>
		<tr>
			<td>
				<%= @my_own_group_names[indx] %>
			</td>
			<% row.each do |key,value| %>
				<td>	
					<%= value.to_s %>
				</td>
			<% end %>
			<% indx = indx + 1 %>
		</tr>
		<% end %>
		</table>
	<% end %>
<% end %>
</div>