    <link href="offcanvas.css" rel="stylesheet">

    <div><p>&nbsp;</p><p>&nbsp;</p></div>
    
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <%= render "/group/show_group_info" %>

    <!-- ===================================================== -->

    <!-- /BEGIN THE GROUP MEMBER SHOWING PART -->
    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
        <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <ul class="nav nav-tabs nav-justified">
          <li><a href="<%= "/group/show_profile/" + @gid.to_s %>"><b>Group Members</b></a></li>
          <li class="active"><a href="#"><b>Add Members</b></a></li>
          <li><a href="#"><b>Recent Events</b></a></li>
        </ul>
      </div>      
      <div><p>&nbsp;</p></div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">     
          <form action="<%="/group/"+@gid.to_s+"/search_user"%>" id='add-form' method='get' target='_top' role="search">
            <div class="input-group">   
              <input type="text" name="add_uname" class="form-control" placeholder="Search">  
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">Search</button>
              </span>
            </div>
          </form>
        </div>
      <div><p>&nbsp;</p></div>

      <div>
        <%= render "/group/add_member_page" %>
      </div>
      
    </div><!-- /.container -->
    <!-- /END THE GROUP MEMBER SHOWING PART -->

      <!-- FOOTER -->
      <footer>
        <p align = "center">&copy; FaceCalendar 2013</p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="bootstrap.js"></script>
    <script src="offcanvas.js"></script>

